button {
  height: 20px;
  width: 50px;
}
.flag {
  height: 100px;
  width: 180px;
  margin: 10px;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#gameboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
